<h1>PIZZA TIME!</h1>

<h2>Pizzas that have yet to be eaten!</h2>
<ul>
  {{#each pizzas}}
    {{#unless eaten}}
      {{> pizzas/pizza-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Pizzas you've eaten! (good for you!)</h2>

<ul>
  {{#each pizzas}}
    {{#if eaten}}
      {{> pizzas/pizza-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>


<h2>Order a Pizza</h2>
<form class="create-form">

  <div class="form-group">
    <label for="za">Type of Pizza:</label>
    <input type="text" id="za" name="flavor">
  </div>

  <button type="submit">Add to order</button>
</form>
