<li>
	{{flavor}}
{{#if eaten}}
	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		DEVOUR!
	</button>
	{{/if}}

	<button class="delete-pizza" data-id="{{this.id}}">DELETE!</button>
</li>
